{% load static %}

    <html lang="en">
    <head>

      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title> 
        {% block title %}
        {% endblock %}
      </title>
        {% include 'base/css.html' %}

    </head>
    <body>
    {% include 'base/nav.html' %}
    {% block carousel %}
     
    {% endblock %}
    {% block article_dual %}
     
    {% endblock %}

    {% block container %}
    {% endblock %}
    
    {% include 'base/footer.html' %}     
    {% include 'base/javascript.html' %}
    {% block script %}
    {% endblock %}
    </body>
  </html>